<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @RenderSection("SEO",false)

    <title>@ViewData["Title"] - MVC App</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/carousel.css" rel="stylesheet" asp-append-version="true">
    <link href="~/favicon.ico" rel="icon">

</head>
<body>

    @*<partial name="Header" />*@
    @await Html.PartialAsync("Header")

    <main>

        @RenderBody()

        @*<partial name="Footer" />*@
        @await Html.PartialAsync("Footer")

    </main>



    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
